body {
  background-color: linen;
}
#icon1 {
 font-size: 20px;
 position: absolute;
  left: 70%;
  bottom: 6px;
  color: linen;
}

#icon2 {
  font-size: 20px; 
  position: absolute;
  right: 5%;
  bottom: 6px;
  color: linen;
}

#icon3 {
  font-size: 20px; 
  position: absolute;
  left: 50%;
  bottom: 6px;
  color: linen;
}

#btn1 {
  color: blue;
  position: absolute;
  display: block;
  background-color: white;
  width: 110px;
  padding: 5px;
  border: solid 2px blue;
  text-align: center;
  border-radius: 3px;
}

#btn2 {
 color: blue;
  background-color: white; 
  padding: 5px;
  border: solid 2px blue;
  width: 110px;
  position: absolute;
  display: block;
  border-radius: 3px;
}

#btn3 {
 color: blue;
  background-color: white; 
  padding: 5px;
  border: solid 2px blue;
  width: 110px;
  position: absolute;
  display: block;
  border-radius: 3px;
}

#h2 {
  text-align: center;
  font-family: Raleway;
  position: relative;
  color: black;
  background-color: gray;
  padding: 10px;
}
#header {
  background-color: black;
  width: 100%;
  height: 3em;
  position: fixed;
  left: 0%;
  top: 0%;
  display: block;
  color: black;
}
.container2 {
  background: linear-gradient(45deg, #A4FFD1, #36E872);
  width: 100%;
}
nav {
  background-color: gray;
}  

.container {
  display: flex;
  width: 100%;
  background-color: ;
  border: solid  2px  #36E872;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 3em;
  max-height: 250px;
}

#About-img {
  position: relative;
  border: 5px;
  padding: 10px;
}
#pg {
  position: relative;
  color: black;
  padding: 10px;
}
/*
.container-img1 {
position: absolute;
 width: 100%;
 display: flex;
}

.container-img2 {
 position: absolute;
 width: 100%;
 display: flex;
}
*/
#price1 {
  font-weight: bold;
  position: relative;
  right: -12px;
  color: orangered;
}
#price2 {
  font-weight: bold;
  position: absolute;
  color: orangered;
  position: relative;
  right: -12px;
}
#price3 {
  font-weight: bold;
  position: absolute;
  color: orangered;
  position: relative;
  right: -2rem;
}

*hr {
  color: orangered;
  font-size: 16px;
}


.item  {
  width: 110px;
  font-family: Serif;
  display: block;
}

.item1 {
  width: 110px;
  font-family: Serif;
  display: block;
 /* background-color: white;
  padding: 3px;
  border: solid 2px white;*/
}

/* Dropdown Button */
.dropbtn {
  background-color: gray;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown  {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  width: 100%;
  text-decoration: none;
  display: block;
}

.social-icons {
  font-size: 25px;
  text-align: center;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content, .social-icons a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown, .social-icons:hover .dropbtn {background-color: #3e8e41;}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: white;
  font-size: 2empx;
  padding: 8px 12px;
  position: absolute;
  bottom: 6px;
  left: 25%;
  width: 50%;
  text-align: center;
  background-color: blue;
}

/* Number text 1/3  */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 2}
}

@media only screen and (max-width: 300px) {   .text {font-size: 11px}
}
